body {
    background: #000;
    font-family: 'Inter';
}

.main {
    height: 100%;
}

.logo-head{
    position: relative;
    width: 100%;
    height: 20%;
}

.logo-img{
    margin: 30px;
}

.content-container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.video{
    position: relative;
    width : 50%;
}

video {
    width: 100%;
    height: 80%;
}

.camera {
    position: relative;
    display: flex;
    height: 340px;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    border-radius: 4px;
    width: 85%;
    display: block;
    margin: auto;
} 

.camera-stream{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #2a2a2a;
    transform: translate(-50%,-60%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 0;
}

.bottom-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #161616;
    position: absolute;
    bottom: 0;
    height: 3.25em;
    width: 100%;
}

.icon {
    display: flex;
    font-size: 14px;
    align-items: center;
    position: relative;
    color: #a299a2;
}

.icon-span {
    margin-right: 1rem;
    height: 35px;
    width: 35px;
    display: flex;
    position: relative;
    z-index: 2;
    border-radius: 8px;
}

.off {
    border: 1px solid #ab211b;
}

.on {
    border: 1px solid #243cff;
}

.icon-span img {
    height: 50%;
    margin: auto;
    display: block;
    z-index: 2;
}

.arrow-icon {
    cursor: pointer;
}

.meeting-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.inner-section {
    width: 65%;
}
.inner-section h2{
    margin-top: 0px;
    margin-bottom: 1.38px;
    font-size: 42px;
    background:linear-gradient( 101.76deg,#f37777,#d62ec0 55.05%,#1124c3);
    font-family: Inter ExtraBold;
    font-weight: 500;
    -webkit-background-clip: text;
    color: transparent;
}

.inner-section p {
    margin-top: 0px;
    font-weight: 500;
    color: #858c9e;
}

.meeting-details-input {
    width: 100%;
    margin-top: 45px;
}

.meeting-details-input label {
    text-align: left;
    display: block;
    color: #b7afb7;
    margin: .3rem 0;
}

.meeting-details-input input {
    background: #161616;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1rem 1.25rem;
    font-family: 'Inter',sans-serif;
    width: 100%;
}

.inner-section button {
    border-radius: 4px;
    width: 100%;
    color: #fcfcfc;
    padding: 14px 25px;
    font-size: 14px;
    border: none;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    background: linear-gradient(150.76deg ,#1a2ab4 -3.15%, #8e1fc7 55.05%,#e8a2a2 110.87%);
}

.icon a {
    display:block;
    color:#b7afb7;
    line-height: 47px;
    text-decoration:none;
}

.icon ul li img {
    width: 7px;
    height: 9px;
}

.icon ul li img:hover {
    transform: rotate(90deg);
}

.icon ul {
    list-style-type: none;
    padding: 0;
}

.icon ul ul {
    display: none;
    position: absolute;
    top: 60px;
    border-radius: 4px;
    list-style-type: none;
    margin-left: -17px;
    background: #2a2a2a;
}

.icon ul ul a {
    color: #858c9e;
    color: #b7afb7;
    font-size: 13px;
    padding-left: 19px;
    width: 70%;
}

.icon ul li:hover > ul {
    display:inherit;
}

.icon ul ul li {
    width:196px;
    display:flex;
    position: relative;
}

.icon ul ul li input {
    margin: auto;
    width: 30%;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../font/Inter-Regular.ttf') format('truetype'),
  url('../font/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter ExtraBold';
  src: url('../font/Inter-ExtraBold.ttf') format('truetype');
}

@media screen and (max-width: 800px)  {
    .content-container {
        width:100%;
        margin-top: 0;
        height: auto;
    }

    .logo-head{
        position: relative;
        width: 100%;
    }

    .logo-img {
        margin: 30px;
        width: auto;
    }

    .video {
        width:100%;
        height: 228px;
    }

    .camera {
        height: 100%;
        width: 100%;
    }
    
    .camera-stream {
        transform:translate(-50%,-60%) scale(.6);
    }

    .icon-span {
        height: 30px;
        width: 30px;
    }
    
    .inner-section {
        width: 90%;
        margin-top: 8px;
    }

    .inner-section h2 {
        font-size: 27px;
    }
    
    .meeting-details {
        width: 100%;
    }
    
    .meeting-details-input {
        width: 100%;
        margin-top: 30px;
    }

    .meeting-details-input label {
        font-size: 14px;
    }

    .meeting-details-input input {
        font-size: 11px;
    }
    .icon {
        font-size:10px ;
    }

    .inner-section p {
        font-size:11px;
    }

    .icon ul li img {
        width: 7px;
        height: 6px;
    }
}